[% WRAPPER 'include/layout.tt' %]

<form method="post" action="[% uri_for('/post') %]">
    <input type="text" name="body" />
    <input type="submit" value="Send" />
</form>

<form method="post" action="[% uri_for('/upload') %]" enctype="multipart/form-data">
    <input type="file" name="image" />
    <input type="submit" value="Upload" />
</form>

<ul>
[% FOR entry IN entries -%]
    <li>[% entry.entry_id %]. [% entry.body %]</li>
[% END -%]
</ul>

[% END %]
